/* fira-code-regular - latin,cyrillic */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('./fira-code/fira-code-v8-latin_cyrillic-regular.woff2') format('woff2');
}

/* roboto-mono-regular - latin,cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./fira-code/roboto-mono-v7-latin_cyrillic-regular.woff2') format('woff2');
}
