import { call, put, takeEvery } from 'redux-saga/effects';
import { fetchImage, requestImage, requestImageSuccess, requestImageError } from './actions';

function* watchFetchImage() {
  yield takeEvery(fetchImage, fetchImageAsync);
}

function* fetchImageAsync(rest) {
  try {
    yield put(requestImage());
    const { data } = yield call(() => fetch('https://picsum.photos/id/0/info').then(d => d.json()));
    yield put(requestImageSuccess({ url: data.download_url }));
  } catch (error) {
    yield put(requestImageError());
  }
}

export default watchFetchImage;
