@import '../../../assets/styles/variables';

.block {
  align-self: center;
  background-color: red;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .block {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .block {
    background-color: green;
  }
}
