.nav-holder {
  padding: 15px 0;
  font-size: 18px;
  background: #000;

  ul {
    overflow: hidden;

    margin: 0;
    padding: 0;

    text-align: center;
    list-style: none;

    li {
      display: inline-block;
      padding: 0 10px;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          color: #eee;
        }
      }
    }
  }
}
