.learn-more {
  color: #fff;
  background: #0068af;
  display: inline-block;
  padding: 12px 15px 13px;
  font: 700 18px/1.1 Oswald;
  border: 2px solid #0068af;
}

.learn-more:hover {
  color: #fff;
  background: #009be5;
  border: 2px solid #fff;
}
