$backgroundColor: #dcdcdc;

$postPreviewWidth: 700px;
$postPreviewHeight: 200px;

$pageMinWidth: 300px;
// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {}
$smallDeviceWidth: 576px;
// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {}
$mediumDeviceWidth: 768px;
// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {}
$largeDeviceWidth: 992px;
// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}
$extraLargeDeviceWidth: 1200px;
