/*!
 * banner:
 * @rockpack/book: 7.0.0-next.1
 * Aleksandrov Sergey <gooddev.sergey@gmail.com> (https://github.com/AlexSergey/rockpack)
 * Documentation and usage examples for the Rockpack project
 * MIT
 */.Ua54i8oU6guxF1cnvS0s{margin:0 auto;max-width:900px;min-width:320px;overflow:hidden;padding:20px}.iSgBNDAFiy2fwFmP5smu{display:block;margin:0 auto;position:relative;width:120px}.iSgBNDAFiy2fwFmP5smu:before{background:#000;content:"";display:none;height:1px;position:absolute;top:80px;width:100%}.iSgBNDAFiy2fwFmP5smu:hover:before{display:block}*,:after,:before{box-sizing:border-box}body{font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:300;line-height:1.5em}