@import '../../assets/styles/variables';
.posts {
  width: 100%;
}
.post {
  overflow: hidden;
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #d3d3d3;
  &.post-last {
    border: 0;
  }
  .extra {
    overflow: hidden;
    font-size: 12px;
    color: #9c9c9c;
    .date {
      float: left;
    }
    .comments {
      float: right;
    }
  }
  &:hover {
    .delete {
      display: block;
    }
  }
  .preview-holder {
    width: $postPreviewWidth;
    height: $postPreviewHeight;
    float: left;
    margin: 0 20px 0 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .title {
    overflow: hidden;
  }
  .delete {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .post {
    .preview-holder {
      width: 100%;
      height: $postPreviewHeight;
      float: none;
      margin: 0 0 20px;
    }
    .title {
      text-align: center;
    }
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .post {
    .preview-holder {
      width: 100%;
      height: $postPreviewHeight / 2;
      float: none;
      margin: 0 0 10px;
    }

    .title {
      text-align: center;
    }
  }
}
