/*!
 * banner:
 * example-react-app: 1.0.0
 */body{margin:0;padding:0;font-family:sans-serif}.App{text-align:center}.App-logo{animation:App-logo-spin 20s linear infinite;height:80px}.App-header{background-color:#222;height:150px;padding:20px;color:#fff}.App-title{font-size:1.5em}.App-intro{font-size:large}@keyframes App-logo-spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}