<LoggerContainer
    active={true|false}
    limit={20}
    bsodActive={true}
    bsod={BSOD}
    onError={stack => {
        sendToServer(stack);
    }}
    stdout={(level, message, important) => {
          console[level](message);

          if (important) {
              alert(message);
          }
    }}
>
    <App />
</LoggerContainer>
