...
header: {
   ...
   {
        leftZone: {
            ...
                navigation: {
                    ...
                    btn: 'Mega button!'
                    ...
                }
            ...
        }
   }
   ...
}
...
